body {
  /* background-image: url(Image/background2.png);
  height: 200vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  color: #000;
}
.chords {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  color: #000000;
  font-weight: bold;
  font-size: 2.3vw;
}
.tabs {
  font-family: 'Courier New', Courier, monospace;

  white-space: pre-wrap;

  color: #000000;
  font-weight: bold;
  font-size: 1.85vw;
}
