body {
  /* background-image: url(Image/background2.png);
  height: 200vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #ffffff rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
.chords {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  padding: 1.5vw;
  margin-top: 1vw;
  color: #000000;
  font-weight: bold;
  font-size: 2.3vw;
}
.tabs {
  font-family: 'Courier New', Courier, monospace;
  padding: 1.5vw;
  white-space: pre-wrap;
  margin-top: 1vw;
  color: #000000;
  font-weight: bold;
  font-size: 1.5vw;
}
